<!-- <h2> ANGULAR </h2> -->

<!-- <app-autores></app-autores>  -->

 <!-- <login-form></login-form>  -->

<!-- <router-outlet></router-outlet> -->

 <!-- <like [Favorito]="post.ehFavorito" (change)="onFavoriteChange($event)"></like> -->

 <!-- <bootstrap-panel>
    <ng-container class="heading"></ng-container>
    <div class="body"> 
        <h2>body</h2>
        <p>algum texto aqui...</p>
    </div>
 </bootstrap-panel> -->

<!-- <camel-case-page></camel-case-page> -->

<!-- <like-coracao [qtd-curtidas]= "_tweet.qtdCurtidas"
              [eh-curtido]="_tweet.estaCurtido"></like-coracao> -->

<!-- <cursos></cursos> -->

<!-- <input type="text" [appInputFormat]="'uppercase'"> -->
<!-- <zippy>aqui sim eu passo um valor</zippy> -->

<!-- <cadastro-cursos></cadastro-cursos> -->

 <!-- <signup-form></signup-form> -->

<!-- <array-class></array-class> -->

<!-- <trocaSenha></trocaSenha> -->

<!-- <posts></posts> -->

<github-followers></github-followers>    