<form [formGroup]="form" (ngSubmit)="login()">
    <div class="alert alert-danger" *ngIf="form.errors"> 
        the username or password is invalid.
    </div>
    <div formGroupName="account" class="form-group marg" id="div0" name="div0">

        <div class="form-group" id="div1" name="div1">
            <label for="username">Username</label>
            <input formControlName="username" type="text" class="form-control inputStyle" id="username" name="_usernameTela">
            <div *ngIf="username?.pending">checando usuario...</div>
            <div class="alert alert-danger errInputStyle" *ngIf="!username?.valid && !username?.untouched && !username?.pending">
                <div *ngIf="username?.errors?.required"> 
                    Campo obrigatorio 
                </div>
                <div *ngIf="username?.errors?.cannotContainSpace"> 
                    Não pode usar espaço nãoooo
                </div>
                <div *ngIf="username?.errors?.deveSerUnico"> 
                    usuario invalido
                </div>
            </div>
        </div>

        <div class="form-group" id="div2" name="div2">
            <label for="password">Password</label>    
            <input formControlName="password" type="text" class="form-control inputStyle" id="password" name="_passwordTela" >
            <div class="alert alert-danger errInputStyle" *ngIf="!password?.valid && !password?.untouched">
                <div *ngIf="password?.errors?.required">
                    Campo obrigatorio
                </div>
                <div *ngIf="password?.errors?.minLenght">
                    Tamanho minimo 2
                </div>
            </div>
        </div>

        <button class="btn btnStyle" type="submit">
            Sign up
        </button>  
    </div>
</form>