<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#" >     
      <img width="30" height="24" src="./assets/brushlogo.png">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" 
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/followers"
          [queryParams]="{page: 1, order: 'newest'}">GitHub<span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/autores">Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/cadastro-cursos">Cursos</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link disabled" href="#">adm</a>
        </li>
      </ul>
      <!-- <div *ngIf="cursos.length > 0;  then listaDeCursos else cursosVazio">         -->
      <!-- </div> -->

      <ng-template #usuarioLogado>
        <span class="navbar-text">
          Bem vindo, {{usuario}}
        </span>
      </ng-template>

      <ng-template #usuarioDeslogado>
        <span class="navbar-text">
          Bem vindo, 
          <a> logar</a>
        </span>
      </ng-template>

    </div>
  </nav>